---
apiVersion: apps/v1
kind: Deployment
metadata: 
  name: mongo-c
  labels:
    application: mongo-c
spec:
  replicas: 1
  selector:
    matchLabels:
      application: mongo-c
  template:
    metadata:
      labels:
        application: mongo-c
    spec:
      containers: 
        - image: mongo
          name: mongo-c
          command:
            - mongod
            - "--replSet"
            - rs0
            - "--bind_ip_all"
          imagePullPolicy: IfNotPresent
          volumeMounts: 
            - mountPath: /data/db
              name: mongodb-data
      volumes: 
        - name: mongodb-data
          emptyDir: {}
---
